.btn-ver{
    width: 100%;
}
.jumbotron{
    background-color: rgb(189, 50, 7);
    color: #ffffff;
}

footer{
    padding: 10px 20px 0px 20px;
    background-color: rgb(189, 50, 7);
    color: #ffffff;
    margin-bottom: 0px;
    margin-top: 30px;
}

.card-design {
    flex: 1 250px;
    padding: 2px 5px 2px 5px; 
    margin-top: 15px;
    }

